In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_excel('hsc_cgpa.xlsx')
df.head()

   CGPA  HSC  Package
0   7.0   60        7
1   5.0   75        6
2   4.0   40        4
3   9.0   83       10
4   6.0   76        7

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
lr = LinearRegression()

In [10]:
lr.fit(df[ ['CGPA' , 'HSC'] ] , df.Package)

LinearRegression()

In [12]:
df1 = pd.read_excel('Only_hsc_cgpa.xlsx')
df1

   CGPA  HSC
0   7.0   74
1   8.0   65
2   9.0   90
3   9.5   85

In [13]:
lr.predict([ [9 , 74] ])

C:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([9.23457085])

In [16]:
x1 = df1.iloc[: , 0:1]
x2 = df1.iloc[: , -1]

In [20]:
print(x1)
x2

   CGPA
0   7.0
1   8.0
2   9.0
3   9.5

0    74
1    65
2    90
3    85
Name: HSC, dtype: int64

In [27]:
output = lr.predict(df1[ ['CGPA' , 'HSC'] ])

In [28]:
df1['predicted_package'] = output

In [29]:
df1

   CGPA  HSC  predicted_package
0   7.0   74           7.500155
1   8.0   65           7.840335
2   9.0   90          10.171508
3   9.5   85          10.312319

In [30]:
df1.to_csv('predicted_package.csv' , index=False)